<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.haofugang.hfgcamera">
    <application
        android:allowBackup="true"
        android:supportsRtl="true">

    </application>

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <!-- 开启闪光灯权限 -->
    <uses-permission android:name="android.permission.FLASHLIGHT" />
</manifest>

